{% extends 'base.html' %}
{% block title %}404. Если тут что-то было, теперь этого тут нет.{% endblock %}
{% block content %}
  <main>
    <section class="container my-5">
      <div class="row">
        <div class="col-12 col-lg-7 my-5">
          <h1 class="mb-5">Если тут что-то было, то теперь этого здесь
            нет!</h1>
          <p>Пройдите на главную страницу сайта, там точно что нибудь да
            будет:</p>
          <p><a href="{{ url_for('index_view') }}">ГЛАВНАЯ СТРАНИЦА САЙТА</a>
          </p>
        </div>
      </div>
    </section>
  </main>
{% endblock %}