{% extends "base.html" %}
{% block content %}
  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Создайте короткую ссылку автоматически или предложите свой вариант
      </p>
      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            {% include 'includes/forms.html' %}
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
      {% if result_url %}
        <div class="container">
        <div class="row ">
        <div class="col-sm">
          <div class="col-sm">
            <p class="text-center">
            <h5 class="text-center">
              {% if result_url %}
                Ваша ссылка готова:
                <a href="{{ result_url }}">{{ result_url }} </a>
              {% endif %}
            </h5>
            </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock content %}